/**重置mui**/
.mui-input-row.mui-input-range {
    overflow: visible;
    padding-right: 0px;
}
html,body,#content{
	height: 100%;
}

a ,a:hover{text-decoration: none;}
#myAudio {
	width: 100%;
	height: 100%;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background-color: rgba(0,0,0,0.8);
    background-size: cover;
}
/*音频信息模块*/
.music_info {
	padding-top: 50px;
	border: 1px solid #000;
	border-bottom: none;
	width: 100%;
	border-radius: 4px 4px 0 0;
	background:-webkit-linear-gradient(top,rgba(0,0,0,0.4),rgba(0,0,0,0.4)) no-repeat left top,
				url(bg.jpg) no-repeat left top;
	background:-moz-linear-gradient(top,rgba(0,0,0,0.4),rgba(0,0,0,0.4)) no-repeat left top,
				url(bg.jpg) no-repeat left top;
	background:-ms-linear-gradient(top,rgba(0,0,0,0.4),rgba(0,0,0,0.4)) no-repeat left top,
				url(bg.jpg) no-repeat left top;
	background:linear-gradient(top,rgba(0,0,0,0.4),rgba(0,0,0,0.4)) no-repeat left top,
				url(bg.jpg) no-repeat left top;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background-size:cover; 
}

/*音频的元信息模块*/
.music_info .meta_data {
	height: auto;
	width: 100%;
	text-align: center;
	float: right;
	color: #fff;
	overflow: hidden;
	position: relative;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-moz-user-select:none;/**ff*/  
	-webkit-user-select:none;/**chrome、safari、360极速*/  
}
.music_info .singer {
	font:bold 20px Helvetica,Sans-serif;
	text-align: center;
	margin-bottom: 10px;
}
.music_info .title {
	font:bold 20px Helvetica,Sans-serif;
	text-align: center;
	color: #fff;
}
.volume_control {
	margin-top:10px;
	width: 100%;
	margin-bottom: 10px;
	margin: auto;
	height: 90px;
    padding-top: 40px;
}
.volume_control .decrease,.volume_control .increase {
	font: 16px/100% "icomoon";
    color: rgb(220,220,220);
    width: 10%;
    text-decoration: none;
    cursor: pointer;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 3px;
}
/*音量条和进度条外层包裹*/
.base_bar {
	height: 45px;
	float:left;
	border-bottom: none;
	border-radius: 5px;
	display: inline-block;
	position: relative;
}
/*音量条和进度条*/
.progress_bar {
	display: block;
	height: 100%;
	border-radius: 5px;
	background: -webkit-linear-gradient(top,rgb(101,215,251),rgb(23,137,232));
	background: -moz-linear-gradient(top,rgb(101,215,251),rgb(23,137,232));
	background: -ms-linear-gradient(top,rgb(101,215,251),rgb(23,137,232));
	background: linear-gradient(top,rgb(101,215,251),rgb(23,137,232));
}
#myAudio .volume_control .base_bar {width: 80%;}
#myAudio .volume_control .progress_bar {width: 80%;}

/*音量条的滑动器*/
.volume_control .slider {
	width: 22px;
    height: 22px;
	border-radius: 6px;
	border:1px solid rgb(0,0,0);
	position: absolute;
	left: 93px;
	top: -2px;
	background: -webkit-linear-gradient(top,rgb(246,246,246),rgb(190,190,190));
	background: -moz-linear-gradient(top,rgb(246,246,246),rgb(190,190,190));
	background: -ms-linear-gradient(top,rgb(246,246,246),rgb(190,190,190));
	background: linear-gradient(top,rgb(246,246,246),rgb(190,190,190));
}
/*歌单列表*/
.music_lrc_wrap{
	position: relative;
    max-height: 200px;
    overflow: hidden;
}

.music_lrc {
	margin: 0;
    text-align: center;
    background: rgba(20,20,20,0.6);
    display: block;
    padding-top: 80px;
}
.music_lrc li {
	margin: 0;
	color: #fff;
	font-size: 12px;
	cursor: pointer;
	list-style-type: none;
}
.music_list li:hover {color: rgb(242,198,65);}
.music_list .active {color: rgb(226,63,82);}
/*播放控制模块*/
#myAudio .controls {
	width: 100%;
	height: 200px;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border-radius: 0 0 4px 4px;
	position: absolute;
    bottom: 60px;
}
#myAudio .controls > div {float: left;}
#myAudio .controls .play_controls {
	height: 50%;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    margin: auto;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*使用font-face来制作播放按钮的图标*/
#myAudio .play_controls a {
	font-family: "icomoon";
    color: rgb(220,220,220);
    cursor: pointer;
    margin-left: 15px;
    /* float: left; */
    font-size: 20px;
    margin-top: 5px;
    width: 30px;
    display: inline-block;
}
#myAudio .play_controls a:first-child {margin-left: 10px;}
/*进度条的实现*/
#myAudio .time_line {
	padding-top: 115px;
	padding-right: 10px; 
	padding-left:10px;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	border-bottom: 1px solid #735E5E;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
#myAudio .passed_time, #myAudio .total_time {
	color: #fff;
	width: 15%;
	float: left;
	font-size: 20px;
	padding-top: 10px;
    text-align: center;
	font-family: Helvetica,Sans-serif;
	-webkit-text-size-adjust:none; 
}
#myAudio .time_line .base_bar {
	width: 70%;
}
#myAudio .time_line .progress_bar {width: 0;}

.clearfix:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	clear: both;
}
/*歌曲星星评分器的实现*/
.starbar {
	width: 100px;
	height: 20px;
	margin-top: 5px;
	background: url("stars.png") 0px 0px repeat-x;
	position: relative;
}
.current-rating {
	width: 85%;
	height: 100%;
	background: url("stars.png") 0px -40px repeat-x;
	margin: 0;
	padding: 0;
}
.current-rating li {
	list-style:none;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
}
.current-rating li:hover {background: url("stars.png") 0px -20px repeat-x;}
.current-rating .star5 {width: 100%;}
.current-rating .star4 {width: 80%;}
.current-rating .star3 {width: 60%;}
.current-rating .star2 {width: 40%;}
.current-rating .star1 {width: 20%;}
/*音频播放时CD的旋转动画*/
.music_info .cd.rotate {
	-webkit-animation:rotating 1s 0s linear infinite;
	-moz-animation:rotating 1s 0s linear infinite;
	-ms-animation:rotating 1s 0s linear infinite;
}
@-webkit-keyframes rotating{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes rotating{
	form {-moz-transform:rotate(0deg);}
	to {-moz-transform:rotate(360deg);}
}
@-ms-keyframes rotating{
	0%{-ms-transform:rotate(0deg);}
	100%{-ms-transform:rotate(360deg);}
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}